langchain
python-dotenv
langchain_community
langchain-text-splitters
chromadb
sentence_transformers
langchain_huggingface
langchain_chroma
langchain_core
langchain_groq
fastapi
streamlit
uvicorn
pypdf
rank_bm25
python-multipart
requests