langchain
python-dotenv
langchain_community
langchain-text-splitters
chromadb
fastembed
langchain_chroma
langchain_core
langchain_groq
fastapi
streamlit
uvicorn
pypdf
rank_bm25
python-multipart
requests
langchain_huggingface